.projectContainer {
    /*height: calc(100vh - 110px);*/
    background-color: #111111;
    color: #fff;
    /*padding-top: 80px;*/
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    padding: 5px;

}

.projectContainerButton {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.projectContainerButton a {
    width: 90% !important;
}

.projectContent {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*height: 90%;*/
    /*width: 80vw;*/
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projectImageContainer {
    width: 100%;
}

.projectImageContainer img {
    /*height: 100%;*/
    /*object-fit: cover;*/
    /*object-position: top;*/
    width: 100%;
    height: auto;
}

.projectDetails {
    /*flex: 1;*/
}

.projectDetails h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


/* styles.module.css */

.projectDetails {
    padding: 20px;
    /*border-radius: 8px;*/
    background-color: #252525;
    color: #ecf0f1;
}

.projectDetails h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.projectDetails p {
    font-size: 16px;
    margin-bottom: 15px;
}

.projectTechnologies {
    margin-bottom: 20px;
}

.projectTechnologies p {
    font-size: 18px;
    font-weight: bold;
}

.projectTechnologies ul {
    list-style: none;
    padding: 0;
}

.projectTechnologies li {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.projectTechnologies li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media (min-width: 400px) {
    .projectContainerButton {
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: space-between;
    }

    .projectContainerButton a {
        width: max-content !important;
    }

}

@media (min-width: 1024px) {
    .projectContent {
        padding: 5px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .projectDetails,
    .projectImageContainer{
        height: 100%;
    }

    .projectContainerButton {
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: left;
    }

    .projectContainerButton a {
        width: max-content !important;
    }

    .projectImageContainer {
        width: 100%;
    }

    .projectImageContainer img {
        max-width: 500px;
        height: auto;
    }

}
@media (min-width: 2500px) {
    .projectContainer{
        height: 100vh;
        align-items: center;
        justify-content: center;

    }
    .projectContent {
        /*height: 100%;*/
        padding: 5px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        border: 2px solid red;
        width: 100%;

    }

    .projectDetails,
    .projectImageContainer{
        height: 100%;
        border: 2px solid red;
    }

    .projectContainerButton {
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: left;
    }

    .projectContainerButton a {
        width: max-content !important;
    }

    .projectImageContainer {
        width: 100%;
    }

    .projectImageContainer img {
        height: 900px;
        width: auto;
    }
    .projectDetails h2 {
        font-size: 4rem;
        margin-bottom: 10px;
    }
    .projectTechnologies p {
        font-size: 2rem;
    }
    .projectTechnologies li {
        font-size: 1.4rem;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }



}