.projectContainer{
    height: calc(100vh - 110px);
    background-color: #111111;
    color: #fff;
    padding-top: 80px;
    display: flex;
    flex-direction: column;


}
.projectContent{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*height: 90%;*/
    width: 80vw;

}
.projectImageContainer{
    /*flex: 1;*/

}
.projectImageContainer img{
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;

}
.projectDetails{
    /*flex: 1;*/

}
.projectDetails h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.projectImageContainer img{

    height: 500px;

}

/* styles.module.css */

.projectDetails {
    padding: 20px;
    /*border-radius: 8px;*/
    background-color: #252525;
    color: #ecf0f1;
}

.projectDetails h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.projectDetails p {
    font-size: 16px;
    margin-bottom: 15px;
}

.projectTechnologies {
    margin-bottom: 20px;
}

.projectTechnologies p {
    font-size: 18px;
    font-weight: bold;
}

.projectTechnologies ul {
    list-style: none;
    padding: 0;
}

.projectTechnologies li {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.projectTechnologies li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

