@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
    font-family: Arial,Helvetica, sans-serif;
}


ul{
    padding: 0;
    list-style: none;
}
h1,ul,p{
    margin: 0;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
.teste{
    /*border: 2px solid red;*/
    background-image: url("https://uploaddeimagens.com.br/images/004/723/165/full/banner-bg.png?1706225142");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
