.servicesContainerBg {
    background-color: #111111;
    margin: 6rem 0;

}

.servicesTitle {
    font-family: 'Roboto', sans-serif;
    color: #B2B2B2;
    text-transform: uppercase;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 400;
    font-variation-settings: normal;
    margin-bottom: 1.25rem;
    position: relative;
    width: max-content;
}

.servicesTitle::before {

    content: "";
    position: absolute;
    display: block;
    bottom: -4px;
    left: 0;
    background-color: #694DF8;
    height: 4px;
    width: 25%;
    transition: all ease .3s;
}

.servicesTitle:hover::before {

    content: "";
    position: absolute;
    display: block;
    bottom: -4px;
    left: 0;
    background-color: #694DF8;
    height: 4px;
    width: 100%;
}

.servicesContentText p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
    color: #b2b2b2;
}

.servicesContainer {
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 20px;*/
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.servicesContainerCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}

.servicesContainerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.servicesContentImage {
    padding: 20px;
    position: absolute;
    right: 0;
    top: -50px;
    bottom: -50px;
    width: 600px;
    border-radius: 10px;

}
.neuralAnimation {
    background: rgb(67, 31, 188);
    background: linear-gradient(312deg, rgba(67, 31, 188, 1) 0%, rgba(21, 21, 21, 1) 50%, rgba(21, 21, 21, 1) 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.servicesIconsContainer {

}

.servicesIconsContainer div {
    width: 80px;
    height: 80px;
    background-color: #595959;
    padding: 10px;
    border-radius: 8px;
}

.servicesIconsContainer img {
    max-width: 100%;
}

@media (max-width: 1300px) {
    .servicesContainerGrid {
        grid-template-columns: 1fr;
    }

    .servicesContentImage {
        position: unset;
        right: 0;
        top: unset;
        bottom: unset;
        width: 100%;

    }
}

@media (max-width: 650px) {
    .servicesContainerCard {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

    }
}